.emojis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: var(--fs4);
    color: var(--font2);
    padding: 10px;
    
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: right;
    &>button{
        background-color: var(--bg);
        outline: none;
        border: none;
        width: 11.12%;
        font-size: var(--fs4);
    }
}

.wrapper{
    position: relative;
    display: inline-block;
    top: -435px;
}
.panel{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: var(--bg4);
    border: solid 1px var(--bg);
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
    height: 400px;
    position:fixed;
}