<div class="wrapper">
    <div class="chatter">
        <div *ngFor="let user of users">
            <app-chat-box (click)="Chat(user.uid)" Name="{{user.username}}" Status="{{user.status}}"></app-chat-box>
        </div>
        <div id="utilBar">
            <div class="icon">
                <div>
                    <div>
                        <input type="file" (change)="test($event)">
                    </div>
                </div>
                <i class="fa-solid fa-user-gear"></i>
            </div>
            <div class="icon">
                <div>
                    <div>
                        <h6>Start a conversation</h6>
                        <input id="newEmail" type="text" placeholder="Type in a E-Mail...">
                        <br>
                        <button (click)="AddPerson()">Talk!</button>    
                    </div>
               </div>
                <i class="fa-solid fa-comments"></i>
            </div>
            <div class="icon">
                <div>
                    <div>
                        foo
                        <br>
                        foo
                    </div>
                </div>
                <i class="fa-solid fa-user-group"></i>
            </div>
        </div>
    </div>
    <div  class="chatbox">
        <div id="messages">
            <div *ngFor="let msg of msgs">
                <app-message read="{{msg.isRead}}" date="{{msg.date}}" text="{{msg.message}}" from="{{msg.cuid}}" self="{{msg.isSender}}" time="{{msg.createdS}}"></app-message>
            </div>
        </div>
        <div *ngIf="uid != ''">
            <app-text-box (OnSend)="SendMsg()"></app-text-box>
        </div>
    </div>
</div>