.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    bottom: 0px;::-webkit-scrollbar-track {
        border-top-right-radius: 10px;
    }
    // justify-content:space-between;
}

.chatbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    &>#messages{
        padding-left: .5rem;
        overflow-y: scroll;
        flex-grow: 1;
        background-color: var(--bg3);
        display: flex;
        flex-direction: column;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

.chatter{
    overflow-x: hidden;
    overflow-y: auto;    
    background-color: var(--bg2);
    display: flex;
    flex-direction: column;

}
#utilBar{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 45px;
    background-color: var(--bg);
}

.icon{
    border-radius: 2rem;
    background-color: var(--accent2);
    text-align: center;
    line-height: 45px;
    width: 45px;
    height: 45px;
    font-size: var(--fs4);
    color: var(--font);
    position: relative;
    display: inline-block;
    z-index: 1000;

    &>div{
        padding: 45px;
        position:fixed;
        display: none;
        bottom: 5px;
        z-index: 10;
        
        &>div{
        border-radius: 1rem;
        border: var(--bg2) solid 1px;
        border-bottom-left-radius: 0rem;
        background-color: var(--bg4);

        &>h6{
            margin: 0;
        }


        &>input , &>button{
            padding: 10px;
            border-radius: 1rem;
            font-size: var(--fs2);
            color: var(--font);
            border: 0;
            margin: 1rem;
            margin-top: 0;
            background-color: var(--bg);
        }}
    }

    &:hover{
        &>div{
        display: block;
        }
    }
}
