<div class="wrapper">
    <div class="chatter">
        <app-chat-box Src="../../assets/icon.png" Name="Synk" Status="Stay in Sync"></app-chat-box>
        <hr width="200%">
        <br>

        <div id="list" *ngFor="let user of users">
            <app-chat-box (click)="Chat(user.uid)" PFP="{{user.pfp}}" Name="{{user.username}}" Status="{{user.status}}"></app-chat-box>
        </div>
    </div>
    <div  class="chatbox">
        <div *ngIf="uid != ''" id="topBar">
            <app-chat-box  (click)="Chat(user.uid)" PFP="{{user.pfp}}" Name="{{user.username}}" Status="{{user.status}}"></app-chat-box>       
            <div>
                <i class="fa-solid fa-phone"></i>
            </div>
            <div>
                <i class="fa-solid fa-video"></i>
            </div>
        </div>
        <div id="messages">
            <div *ngFor="let msg of msgs">
                <app-message read="{{msg.isRead}}" date="{{msg.date}}" text="{{msg.message}}" from="{{msg.cuid}}" self="{{msg.isSender}}" time="{{msg.createdS}}"></app-message>
            </div>
        </div>
        <div *ngIf="uid != ''">
            <app-text-box (OnSend)="SendMsg()"></app-text-box>
        </div>
    </div>
    <div id="utilBar">
        <div class="br"></div>
        <div class="icon">
            <div id="div1" class="utildivs">
                <div>
                    <app-profile></app-profile>
                </div>
            </div>
            <i (click)="Open('div1')" class="fa-solid fa-user-gear"></i>
        </div>
        <div class="icon">
            <div id="div2" class="utildivs">
                <div>
                    <h6>Start a conversation</h6>
                    <input id="newEmail" type="text" placeholder="Type in a E-Mail...">
                    <br>
                    <button (click)="AddPerson()">Talk!</button>    
                </div>
           </div>
            <i (click)="Open('div2')" class="fa-solid fa-comments"></i>
        </div>
        <div class="icon" >
            <div id="div3" class="utildivs">
                <div>
                    foo
                    <br>
                    foo
                </div>
            </div>
            <i (click)="Open('div3')" class="fa-solid fa-user-group"></i>
        </div>

    </div>
</div>