/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*{
    --bg : #1d1b20;
    --bg2 : #202125;
    --bg3 : #2d2e35;
    --bg4 : #343043;
    --font : #f5f5f5;
    --font2 : #b0b7ac;
    --font3 : #062407;
    --font4 : #232c20;
    --accent : #a73156;
    --accent2 : #c62d44;
    --base : #fcd600;

    --fs1:12px;
    --fs2:15px;
    --fs3:20px;
    --fs4:25px;

}

*{
    font-family: "Twemoji Country Flags",Montserrat;
    user-select: none;
    outline: none;

 }

 button{
    transition: .2s ease-in-out 0s;
    cursor: pointer;
    &:hover{        
        transform: scale(1.25);
    }
    &:active{
        transform: scale(0.85);
    }
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--bg2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent2); 
    border-radius: 10px;
}

body{
    margin: 0;
}