/* You can add global styles to this file, and also import other style files */
*{
    --bg : #001A23;
    --bg2 : #20293f;
    --bg3 : #323245;
    --font : #f5f5f5;
    --font2 : #d4dbd1;
    --accent : #31A76A;
    --base : #356F6F;
}   
